<%= render "shared/header" %>

<div class="box-content">
  <%# 作成ボタン %>
  <div class="content">
    <div class="content-image-area">
        <%= link_to image_tag("new_content_link.jpg", class:"content-image"), new_content_path %>
    </div>
    <div class="content-new-texts">
      <p class="content-new-text">新規投稿</p>
      <p class="content-new-text-sub">コンテンツのレビューや思い出、メモ、日記など</p>
    </div>
  </div>
  <%# 作成ボタン %>

  <%# 各コンテンツ %>
  <% @contents.each do |content| %>
    <% if user_signed_in? && current_user.id == content.user_id %>
      <div class="content">
        <div class="content-image-area">
          <% if content.image.attached? %>
            <%= link_to image_tag(content.image, class:"content-image"),content_path(content.id) %>
          <% else %>
            <%= link_to image_tag("dummy_image.jpg", class:"dummy-image",), content_path(content.id) %>
          <% end %>
        </div>
        <div class="content_lists">
          <ul class="content_list">
            <li class="title-content"><%= link_to content.title, content_path(content.id) %></li>
            <li class="sub-txt-content">ジャンル： <%= content.genre %></li>
            <li class="sub-txt-content">コメント： <%= content.memo %></li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
  <%# 各コンテンツ %>
</div>