<%= render "shared/header" %>

<h2><%= link_to "投稿する", new_content_path %></h2>

<div class="content-area">
  <div class="content">
    <div class="content-image-area">
        <%= link_to image_tag("new_content_link.jpg", class:"content-image"), new_content_path %>
    </div>
    <div>
      <h3>投稿しよう！</h3>
    </div>
  </div>
  <% @contents.each do |content| %>
    <div class="content">
      <div class="content-image-area">
        <% if content.image.attached? %>
          <%= link_to image_tag(content.image, class:"content-image"), "#" %>
        <% else %>
          <%= link_to image_tag("dummy_image.jpg", class:"dummy-image"), "#"%>
        <% end %>
      </div>
      <div class="content_lists">
        <ul class="content_list">
          <li><%= content.title %></li>
          <li>ジャンル：<%= content.genre %></li>
          <li>コメント：<%= content.memo %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<h3>ここまで</h3>