<%= render "shared/header" %>

<div class="box-new-content">
  <div class="box-new-content-form">
    <%= form_with model: @content, local: true do |f| %>
    <%= f.file_field :image %>
    <%= f.text_field :title, placeholder: "タイトル" %>
    <%= f.text_field :genre, placeholder: "ジャンル" %>
    <%= f.text_field :memo, placeholder: "メモやコメントなど (最大60文字)", maxlength: "60" %>
    <%= f.submit "投稿する" %>
    <% end %>
  </div>
</div>
