<%= render "shared/header" %>

<div class="box-main-content">

  <div class="box-show-content">

    <div class="content-show-img">
      <% if @content.image.attached? %>
        <%= image_tag(@content.image, class:"content-image")%>
      <% else %>
        <%= image_tag("dummy_image.jpg", class:"content-image")%>
      <% end %>
    </div>
    <div class="content_lists">
      <p class="create-date-content">作成日: <%= @content.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      <ul class="show-content_list">
        <li class="show-content-title"><%= @content.title %></li>
        <li>ジャンル： <span class="show-content-sub"><%= @content.genre %></span></li>
        <li><span class="show-content-sub"><%= @content.memo %></span></li>
      </ul>
      <div class="content-edit">
        <span><%= link_to "編集", edit_content_path(@content.id) %></span>
        <span><%= link_to "削除", content_path(@content.id), method: :delete %></span>
      </div>
    </div>

    <div class="reviews-area">
      <div class="review-form">
        <%= form_with model: [@content, @review], local: true do |f| %>
          <%= f.text_area :comment, placeholder: "コメントやレビュー、感想など", id:"input-review", rows: 5%>
          <%= f.submit "投稿する", id:"btn-review-send" %>
        <% end %>
      </div>
      
      <h4 class="item-para">レビュー</h4>

      <% if @content.reviews.exists? %>
        <div class="reviews">
          <% @content.reviews.each do |review| %>
            <div class="review">
              <p class="date-post"><%= review.created_at.strftime('%Y/%m/%d %H:%M') %></p>
              <p><%= safe_join(review.comment.split("\n"),tag(:br)) %></p>
              <div class="btn-option">
                <span><%= link_to "編集", edit_content_review_path(@content.id,review.id) %></span>
                <span><%= link_to "削除", content_review_path(@content.id,review.id), method: :delete %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% else%>
        <h4>まだレビューはありません</h4>
      <% end %>

    </div>

  </div>
</div>