<div class="content-show">
  <div class="content-image-area">
    <% if @content.image.attached? %>
      <%= image_tag(@content.image, class:"content-image")%>
    <% else %>
      <%= image_tag("dummy_image.jpg", class:"dummy-image")%>
    <% end %>
  </div>
  <div class="content_lists">
    <ul class="content_list">
      <li><%= @content.title %></li>
      <li>ジャンル：<%= @content.genre %></li>
      <li>コメント：<%= @content.memo %></li>
    </ul>
    <%= link_to "編集", edit_content_path(@content.id) %>
    <%= link_to "削除", content_path(@content.id), method: :delete %>
  </div>
</div>