<h1>ユーザー情報変更</h1>

<div class="profile">
  <%= form_with model:@user, local: true do |f| %>
    <div class="profile-item">
      <%= f.label :nickname, "ユーザーネーム" %><br />
      <%= f.text_area :nickname, autofocus: true, autocomplete: "nickname" ,class:"user-input", rows: 1 %>
    </div>

    <div class="profile-item">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autocomplete: "email" ,class:"user-input" %>  
    </div>
    
    <div class="profile-item">
      <%= f.label :profile, "プロフィール" %><br />
      <%= f.email_field :profile, autocomplete: "profile" ,class:"user-input" %>  
    </div>

    <div class="actions">
      <%= f.submit "更新", class:"submit-button" %>
    </div>
  <% end %>

</div>