<%= render "shared/header" %>

<div class="profile">
  <h1>about me</h1>
  <div class="profile-item">
    <p>ユーザー名</p>
    <%= @user.nickname %>
  </div>
  <div class="profile-item">
    <p>プロフィール</p>
    <%= @user.profile%>
  </div>
  <div class="profile-item-sub">
    <p>最新のつぶやき</p>
    <% if @post.present? %>
      <%= safe_join(@post.text.split("\n"),tag(:br)) %>
      <%= image_tag @post.image.variant(resize: '200x200') if @post.image.attached? %>
    <% end %>
  </div>
  <div class="link-user-edit">
    <% if user_signed_in? && @user == current_user %>
      <%= link_to "アカウント情報編集", edit_user_registration_path, class: "user-edit-btn" %>
    <% end %>
  </div>

</div>