<header>
  <div class="top-page-header">
    <div class="banner">
      <%= link_to image_tag("top_banner.jpg", class:"top-image"), "/" %>
    </div>

    <div class="top-menu-bar">
      <div class="menu">
        <ul class="menu-left">
          <li><%= link_to "つぶやき", "/", class: "text-header" %></li>
          <li><%= link_to "コンテンツ", contents_path, class: "text-header" %></li>
        </ul>
        <ul class="menu-right">
          <% if user_signed_in? %>
            <li><%= link_to "マイページ", user_path(current_user.id), class: "text-header" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-header" %></li>
          <% else %>
            <li><%= link_to "ログイン", new_user_session_path, class:"text-heaer" %></li>
            <li><%= link_to "ユーザー登録", new_user_registration_path, class: "text-header" %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</header>