<div class="plant-post-form">
  <%= form_with model: post, id: "plant-post", local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>
    
    <div class="plant-post-new">
      <%= f.text_area :text, placeholder: "つぶやき・メモ・アウトプットなど(最大200字)",rows: "6", maxlength: 200, class: "plant-post-text" %>
    </div>
    <div id="previews"></div>
    <div class="plant-post-image">
      <div class="text-img-up">画像をアップロード
      </div>
      <label>
        <%= f.file_field :image, class:"btn-select-image" %>
      </label>
    </div>
    <div class="plant-post-submit">
      <%= f.submit "投稿する", class:"btn-submit" %>
    </div>
  <% end %>
</div>