<%= render "shared/header" %>

<div class="post-area">

  <div class="post-new">
    <div class="post-new-button">
      <%= link_to "投稿する", new_post_path %>
    </div>
  </div>
  <%# <%= render partial: "post" %>

  <% @posts.each do |post| %>
    <% if user_signed_in? && current_user.id == post.user_id %>
    <div class="post">
      <div class="post-imaga-box">
        <%= image_tag post.image.variant(resize: '200x200') if post.image.attached? %>
      </div>
      <div class="post-text-box">
        <p><%= post.text %></p>
        <span><%= link_to "編集", edit_post_path(post.id)%></span>
        <span><%= link_to "削除", post_path(post.id), method: :delete %></span>
      </div>
    </div>
    <% end %>
  <% end %>



</div>