<%= render "shared/header" %>

<div class="box-post-plant">
  <div class="plant-post-main">
    <h2 class="plant-post-title">つぶやき投稿</h2>
  </div>

  <div class="plant-post-form">
    <%= form_with model: @post, local: true do |f| %>
      <div class="plant-post-new">
        <%= f.text_area :text, placeholder: "つぶやき・メモ・アウトプットなど",rows: "6", class: "plant-post-text" %>
      </div>
      <div class="plant-post-image">
        <div class="text-img-up">画像をアップロード
        </div>
        <label>
          <%= f.file_field :image, class:"btn-select-image" %>ファイルを選択
        </label>
      </div>
      <div class="plant-post-submit">
        <%= f.submit "投稿する", class:"btn-submit" %>
      </div>
    <% end %>
  </div>
</div>